<div class="container">
  <div class="container-checkout">
    <div class="row">
      <div class="col-md-12">
        <h1 class="color-blue text-center">Factura</h1>
        <p class="color-blue text-center">Productos</p>
      </div>
      <div class="col-md-2 container-center" *ngFor="let product of checkoutResult.product">
        <app-card-product [product]="product" [checkoutView]="true"></app-card-product>
      </div>
    </div>
    <div class="row">
      <div class="container-total">
        <p>SubTotal: {{checkoutResult.total}}</p>
        <p>Descuentos: {{checkoutResult.totalDiscount}}%</p>
        <p>Total: {{checkoutResult.totalToPay}}</p>
      </div>
    </div>
  </div>
</div>
